@model IEnumerable<Family_Finance.Models.FinancialTarget>

@{
    ViewData["Title"] = "Cel finansowy";
}

<h1 class="text-light">Cel finansowy</h1>
<a class="btn btn-primary" asp-action="Create">Dodaj nowy cel</a>

<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetAmount)
            </td>
            <td style="align-content: center">
            @{
               var percentage = item.TargetAmount > 0
                    ? (int)Math.Min((item.CurrentAmount / item.TargetAmount * 100), 100)
                    : 0;
            }
            <div class="progress" style="height: 8px;">
               <div class="progress-bar bg-primary" role="progressbar"
                    style="width: @percentage%"
                    aria-valuenow="@percentage"
                    aria-valuemin="0"
                    aria-valuemax="100">
               </div>
            </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <div class="d-flex flex-row gap-2">
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        
                    <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return confirm('Czy jesteœ pewnie, to usunie trwale cel finansowy?');">
                            <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
